<!DOCTYPE html>
{#https://www.codingnepalweb.com/drag-drop-file-upload-feature-javascript/#}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Covid detection using X-ray image</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>

</head>
<body>
<h1 style="margin: 20px 10px; color: black">AIML-Capstone: Team Matrix Squad</h1>
<h2 style="margin: 20px 10px; color: black">Covid Detection using X-ray Images</h2>
<p style="color: white; font-size: 22px; margin-top: 10px; margin-left: 10px;margin-bottom: 5px">Drag & Drop X-ray Image below,</p>
<div class="drag-area" id="drag-tag">
    <div class="icon"><i class="fas fa-cloud-upload-alt"></i></div>
    <header>Drag & Drop to Upload File</header>
    <span>OR</span>
    <button>Browse File</button>
    <input type="file" id="myfile" hidden>
</div>

<div class="row">
    <input type="submit" class="app-button" style="color: black; font-size: 30px"
           id="predict-button" onclick="window.predict()" value="Predict">

    <input type="submit" class="app-button" style="color: black; font-size: 30px"
           id="predict-button" onclick="window.reset()" value="Reset">

</div>

<p style="color: black; font-size: 26px; font-weight:bold" id="pred-tag" hidden>Predictions</p>
<p style="color: green; font-size: 24px; font-weight:bold; max-width: 100%" id="neg-tag" hidden>Negative: <span style="font-size: 20px" id="Covid-Negative"></span></p>
<p style="color: red; font-size: 24px; font-weight:bold; max-width: 100%" id="pos-tag" hidden>Positive: <span style="font-size: 20px" id="Covid-Positive"></span></p>
<p style="color: red; font-size: 24px; font-weight:bold" id="error-tag" hidden>Result error: <span style="font-size: 24px" id="error-disp"></span></p>

<script src="../static/js/script.js"></script>
</body>
</html>

