# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Yash Raj\Python Projects_Sem3\3406 - AIML CAPSTONE\Covid-Detection\Frontend-Web-App\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
